header {
    background-color:aqua;
    width:320px; height:150px; margin:50px auto;
    display:flex; flex-flow:row nowrap;
    align-items:center;
    justify-content:space-between;
    position:relative; /* 정중앙 배치 하려면 heaser(기준)에 이거 줘야함 */
}
header > * {
    border:1px solid red;
    width:50px; height:50px;
}
header h1 {}
header nav {}
header nav .gnb {
    display:flex; flex-flow:row wrap;
    /* 메인축, 교차축 속성 */
}
header nav .gnb > li {
    width:50%;
    background-color:palegoldenrod;
}
header nav .gnb > li > a {}
header nav .gnb > li:last-child {
    background-color:pink; font-size:0.6rem;
    display:flex; flex-flow:column nowrap;
}
header nav .gnb > li:last-child a {}
header nav .gnb > li:last-child span {}
header nav .gnb > li:last-child em {}
header nav .gnb > li:first-child {}
header nav .gnb > li:first-child .sub_bg {
    background-color:palevioletred;
    position:absolute;
    width:500%; height:200PX;
    left:50%; top:67px; transform:translateX(-50%);/* 정중앙 */
    /* display:flex; flex-flow:column nowrap; align-items:center; */
    text-align:center;/* inline-block의 inline특징을 파악해서 가운데로 배치 */
}
header nav .gnb > li:first-child .sub_bg ul {
    background-color:powderblue; width:200px; display:inline-block;
}
header nav .gnb > li:first-child .sub_bg li {}
header nav .gnb > li:first-child .sub_bg li a {}
main {height:200vh; background-color:palegreen;}