body {}
.wrap {
    background-color:#F1F4CA;
    width:402px; height:100vh;
    padding:40px 20px;
    text-align:center;
    margin:0 auto;
}
.wrap h2, /* 그룹선택자 (,) 기준으로 뒤 선택자 RESET, 부모부터 다시쓰기 */
.wrap h3 {font-size:1.5rem; font-weight:700; margin-bottom:30px;}
.wrap h2 {}
/* 인접형제선택자를 이용한 p 선택방법 + 그룹(,) */
/* .wrap h2+p,
/* .wrap h3+p {font-size:0.75rem; margin-bottom:15px;} */
/* .wrap h2+p em {} */
/* 수열선택자를 이용한 p 선택방법 + 그룹(,) */
.wrap p:nth-child(2),
.wrap p:nth-child(5) {font-size:0.75rem; margin-bottom:15px;}
.wrap p:nth-child(2) em {color:#f00;}
.wrap p {}
.wrap p em {}
.wrap #content {margin:0 0 30px;}
.wrap #content span {background-color:#F4D4CA;}
.wrap h3 {}
.wrap p:nth-child(5) {}
.wrap .details {}
.wrap .details em {}